*.log
#*.zip
*.rar
*.7z
product.h
boards/atmega644_ctlstyle_v1.h
*.prefs
.settings/*.*
*.log
*.obj
*.pch
*.tlog
*.cnt
*.bsc
*.exe
*.tmp
*.res
*.plg
*.clw
*.opt
*.bin

.settings/language.settings.xml
*.o
