*.log
#*.zip
*.rar
*.7z
product.h
boards/atmega644_ctlstyle_v1.h
*.prefs
.settings/
*.log
*.tlog
*.cnt
*.bsc
*.exe
*.tmp
*.res
*.plg
*.clw
*.opt
*.bin

# Builded tools for linux
build/stm32mp157axx/bin2ihex
build/stm32mp157axx/stm32image
tools/bin2ihex/bin2ihex
tools/stm32image/stm32image

