[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = develop
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lib/g729"]
	path = lib/g729
	url = https://github.com/DoubangoTelecom/g729.git
[submodule "g729"]
	path = g729
	url = https://github.com/DoubangoTelecom/g729.git
