*.qws
db
output_files
incremental_db
greybox_tmp
*.pof
*.rpd
*.sof

/db/*
*/incremental_db/*
*/.qsys_edit/*
*/pre_bootloaders/*
*/simulation/*
*/reconfig_mif/*
*/hps_isw_handoff/*
*/boot_files/*
*/*_pin_model_dump.txt

*.sopcinfo
*.csv
*.rpt
*.qws
*.bsf
*.cmp
*_inst.v
*_bb.v
*.inc
*.spd
*.sip
/*.bak
